.navbar {
    background-color: #000000c0;
    backdrop-filter: blur(10px);
}

.navbar::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(to right, #00a6ffc7 0%, #f14747e0 30%, #ffff00 80%, #70df70 100%);
}

.brand-name {
    background: linear-gradient(to right, #00a6ffc7 0%, #f14747e0 30%, #ffff00 80%, #70df70 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link.active {
    border-bottom: 2px solid white;
}

.popover-container {
    position: absolute;
    right: 0px;
    top: 120%;
    background-color: #000000;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 120px;
    z-index: 1000;
}

.popover-item {
    display: block;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

.popover-item:hover {
    border-radius: 5px;
    background-color: #333;
}

@media (max-width:992px) {
    .popover-container {
        right: 0 !important;
    }
}